.comment {
	position: relative;
}

.comment__hero {
	border: 1px solid #d8d8d8;
	padding: 0px 25px 23px 25px;
}

.comment__inner {
	display: flex;
	margin-top: 20px;
}

.designsta__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	margin-left: 15px;
	color: #000000;
}

.designsta__link {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin-left: 5px;
	text-decoration: none;
	color: #000000;
	opacity: 0.6;
}

.comment__text {
	position: absolute;
	top: 33px;
	left: 100px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.comment__texts {
	position: absolute;
	top: 185px;
	left: 100px;
	font-weight: 400;
	font-size: 17px;
	color: #000000;
}

.comment__text--info {
	position: absolute;
	top: 330px;
	left: 100px;
	font-weight: 400;
	font-size: 17px;
	color: #000000;
}

.comment__text--title {
	position: absolute;
	top: 350px;
	left: 100px;
	font-weight: 400;
	font-size: 17px;
	color: #000000;
}

.comment__info {
	position: absolute;
	left: 93%;
	top: 20px;
}

.comment__info--left {
	position: absolute;
	left: 93%;
}

.comment__info--right {
	position: absolute;
	left: 93%;
}

.icons {
	display: flex;
	align-items: center;
	margin-top: 24px;
	padding-left: 0;
}

.icons__inner {
	display: flex;
	align-items: center;
}

.icons__inner + .icons__inner {
	margin-left: 100px;
}

.icons__number {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	margin-left: 10px;
	color: #536471;
}

.commet__img {
	width: 679px;
	height: 453px;
	margin-top: 15px;
	object-fit: cover;
}
